[submodule "vim/bundle/vim-indent-object"]
	path = vim/bundle/vim-indent-object
	url = git://github.com/michaeljsmith/vim-indent-object.git
        ignore = untracked
[submodule "vim/bundle/textile.vim"]
	path = vim/bundle/textile.vim
	url = git://github.com/timcharper/textile.vim.git
        ignore = untracked
[submodule "vim/bundle/vim-git"]
	path = vim/bundle/vim-git
	url = git://github.com/tpope/vim-git.git
        ignore = untracked
[submodule "vim/bundle/vim-cucumber"]
	path = vim/bundle/vim-cucumber
	url = git://github.com/tpope/vim-cucumber.git
        ignore = untracked
[submodule "vim/bundle/vim-haml"]
	path = vim/bundle/vim-haml
	url = git://github.com/tpope/vim-haml.git
        ignore = untracked
[submodule "vim/bundle/vim-markdown"]
	path = vim/bundle/vim-markdown
	url = git://github.com/tpope/vim-markdown.git
        ignore = untracked
[submodule "vim/bundle/vim-javascript"]
	path = vim/bundle/vim-javascript
	url = git://github.com/pangloss/vim-javascript.git
        ignore = untracked
[submodule "vim/bundle/vim-align"]
	path = vim/bundle/vim-align
	url = git://github.com/tsaleh/vim-align.git
        ignore = untracked
[submodule "vim/bundle/AutoClose"]
	path = vim/bundle/AutoClose
	url = git://github.com/vim-scripts/AutoClose.git
        ignore = untracked
[submodule "vim/bundle/zoomWin"]
	path = vim/bundle/zoomWin
	url = git://github.com/vim-scripts/ZoomWin.git
        ignore = untracked
[submodule "vim/bundle/vim-rails"]
	path = vim/bundle/vim-rails
	url = git://github.com/tpope/vim-rails.git
        ignore = untracked
[submodule "vim/bundle/vim-fugitive"]
	path = vim/bundle/vim-fugitive
	url = git://github.com/tpope/vim-fugitive.git
        ignore = untracked
[submodule "vim/bundle/vim-unimpaired"]
	path = vim/bundle/vim-unimpaired
	url = git://github.com/tpope/vim-unimpaired.git
        ignore = untracked
[submodule "vim/bundle/vim-markdown-preview"]
	path = vim/bundle/vim-markdown-preview
	url = git://github.com/matthias-guenther/hammer.vim.git
        ignore = untracked
[submodule "vim/bundle/vim-surround"]
	path = vim/bundle/vim-surround
	url = git://github.com/tpope/vim-surround.git
        ignore = untracked
[submodule "vim/bundle/vim-ruby-sinatra"]
	path = vim/bundle/vim-ruby-sinatra
	url = git://github.com/hallison/vim-ruby-sinatra.git
        ignore = untracked
[submodule "vim/bundle/delimitMate"]
	path = vim/bundle/delimitMate
	url = git://github.com/Raimondi/delimitMate.git
        ignore = untracked
[submodule "vim/bundle/vim-indexed-search"]
	path = vim/bundle/vim-indexed-search
	url = git://github.com/henrik/vim-indexed-search.git
        ignore = untracked
[submodule "vim/bundle/vim-endwise"]
	path = vim/bundle/vim-endwise
	url = git://github.com/tpope/vim-endwise.git
        ignore = untracked
[submodule "oh-my-zsh"]
	path = oh-my-zsh
	url = git://github.com/ssoriche/oh-my-zsh.git
        ignore = untracked
[submodule "vim/bundle/gundo"]
	path = vim/bundle/gundo
	url = http://github.com/sjl/gundo.vim.git
        ignore = untracked
[submodule "vim/bundle/vim-extradite"]
	path = vim/bundle/vim-extradite
	url = https://github.com/int3/vim-extradite.git
        ignore = untracked
[submodule "vim/bundle/vim-tabular"]
	path = vim/bundle/vim-tabular
	url = https://github.com/godlygeek/tabular.git
        ignore = untracked
[submodule "vim/bundle/vim-colors-solarized"]
	path = vim/bundle/vim-colors-solarized
	url = https://github.com/altercation/vim-colors-solarized
        ignore = untracked
[submodule "vim/bundle/vim-easymotion"]
	path = vim/bundle/vim-easymotion
	url = https://github.com/Lokaltog/vim-easymotion.git
        ignore = untracked
[submodule "vim/bundle/vim-repeat"]
	path = vim/bundle/vim-repeat
	url = https://github.com/tpope/vim-repeat.git
        ignore = untracked
[submodule "vim/bundle/vim-commentary"]
	path = vim/bundle/vim-commentary
	url = https://github.com/tpope/vim-commentary.git
        ignore = untracked
[submodule "vim/bundle/vim-syntastic"]
	path = vim/bundle/vim-syntastic
	url = https://github.com/scrooloose/syntastic.git
        ignore = untracked
[submodule "vim/bundle/vim-mojo"]
	path = vim/bundle/vim-mojo
	url = https://github.com/yko/mojo.vim.git
        ignore = untracked
[submodule "vim/bundle/vim-ctrlp"]
	path = vim/bundle/vim-ctrlp
	url = https://github.com/kien/ctrlp.vim.git
        ignore = untracked
[submodule "vim/bundle/vim-coffee-script"]
	path = vim/bundle/vim-coffee-script
	url = https://github.com/kchmck/vim-coffee-script.git
        ignore = untracked
[submodule "vim/bundle/splice"]
	path = vim/bundle/splice
	url = https://github.com/sjl/splice.vim.git
        ignore = untracked
[submodule "vim/bundle/vim-linediff"]
	path = vim/bundle/vim-linediff
	url = git://github.com/AndrewRadev/linediff.vim.git
        ignore = untracked
[submodule "vim/bundle/tlib_vim"]
	path = vim/bundle/tlib_vim
	url = https://github.com/tomtom/tlib_vim.git
        ignore = untracked
[submodule "vim/bundle/vim-addon-mw-utils"]
	path = vim/bundle/vim-addon-mw-utils
	url = https://github.com/MarcWeber/vim-addon-mw-utils.git
        ignore = untracked
[submodule "vim/bundle/vim-recover"]
	path = vim/bundle/vim-recover
	url = https://github.com/chrisbra/Recover.vim.git
        ignore = untracked
[submodule "vim/bundle/vim-javascript-libraries-syntax"]
	path = vim/bundle/vim-javascript-libraries-syntax
	url = https://github.com/othree/javascript-libraries-syntax.vim.git
        ignore = untracked
[submodule "vim/bundle/vim-gitgutter"]
	path = vim/bundle/vim-gitgutter
	url = https://github.com/airblade/vim-gitgutter.git
        ignore = untracked
[submodule "vim/bundle/vim-multiple-cursors"]
	path = vim/bundle/vim-multiple-cursors
	url = https://github.com/terryma/vim-multiple-cursors.git
        ignore = untracked
[submodule "vim/bundle/vim-bbye"]
	path = vim/bundle/vim-bbye
	url = https://github.com/moll/vim-bbye.git
        ignore = untracked
[submodule "vim/bundle/vim-airline"]
	path = vim/bundle/vim-airline
	url = https://github.com/bling/vim-airline
        ignore = untracked
[submodule "vim/bundle/vim-ag"]
	path = vim/bundle/vim-ag
	url = https://github.com/rking/ag.vim
        ignore = untracked
[submodule "vim/bundle/vim-rspec"]
	path = vim/bundle/vim-rspec
	url = https://github.com/thoughtbot/vim-rspec.git
        ignore = untracked
[submodule "vim/bundle/vim-textobj-user"]
	path = vim/bundle/vim-textobj-user
	url = https://github.com/kana/vim-textobj-user.git
        ignore = untracked
[submodule "vim/bundle/vim-textobj-entire"]
	path = vim/bundle/vim-textobj-entire
	url = https://github.com/kana/vim-textobj-entire.git
        ignore = untracked
[submodule "vim/bundle/vim-textobj-indent"]
	path = vim/bundle/vim-textobj-indent
	url = https://github.com/kana/vim-textobj-indent.git
        ignore = untracked
[submodule "vim/bundle/vim-textobj-syntax"]
	path = vim/bundle/vim-textobj-syntax
	url = https://github.com/kana/vim-textobj-syntax.git
        ignore = untracked
[submodule "vim/bundle/vim-textobj-line"]
	path = vim/bundle/vim-textobj-line
	url = https://github.com/kana/vim-textobj-line.git
        ignore = untracked
[submodule "vim/bundle/vim-textobj-rubyblock"]
	path = vim/bundle/vim-textobj-rubyblock
	url = https://github.com/nelstrom/vim-textobj-rubyblock.git
        ignore = untracked
[submodule "vim/bundle/funcoo.vim"]
	path = vim/bundle/funcoo.vim
	url = https://github.com/rizzatti/funcoo.vim.git
        ignore = untracked
[submodule "vim/bundle/dash.vim"]
	path = vim/bundle/dash.vim
	url = https://github.com/rizzatti/dash.vim.git
        ignore = untracked
[submodule "vim/bundle/vim-jdaddy"]
	path = vim/bundle/vim-jdaddy
	url = https://github.com/tpope/vim-jdaddy.git
        ignore = untracked
[submodule "vim/bundle/vim-dirdiff"]
	path = vim/bundle/vim-dirdiff
	url = https://github.com/vim-scripts/DirDiff.vim.git
        ignore = untracked
[submodule "vim/bundle/ultisnips"]
	path = vim/bundle/ultisnips
	url = https://github.com/SirVer/ultisnips.git
        ignore = untracked
[submodule "vim/bundle/vim-splitjoin"]
	path = vim/bundle/vim-splitjoin
	url = https://github.com/AndrewRadev/splitjoin.vim
        ignore = untracked
[submodule "vim/bundle/vim-sleuth"]
	path = vim/bundle/vim-sleuth
	url = https://github.com/tpope/vim-sleuth.git
        ignore = untracked
[submodule "vim/bundle/vim-node"]
	path = vim/bundle/vim-node
	url = https://github.com/moll/vim-node.git
        ignore = untracked
[submodule "vim/bundle/vim-obsession"]
	path = vim/bundle/vim-obsession
	url = https://github.com/tpope/vim-obsession.git
        ignore = untracked
[submodule "vim/bundle/NrrwRgn"]
	path = vim/bundle/NrrwRgn
	url = https://github.com/chrisbra/NrrwRgn.git
        ignore = untracked
[submodule "vim/bundle/vim-goldenview"]
	path = vim/bundle/vim-goldenview
	url = https://github.com/zhaocai/GoldenView.Vim.git
        ignore = untracked
[submodule "vim/bundle/YouCompleteMe"]
	path = vim/bundle/YouCompleteMe
	url = https://github.com/Valloric/YouCompleteMe.git
        ignore = untracked
[submodule "vim/bundle/vim-easy-align"]
	path = vim/bundle/vim-easy-align
	url = https://github.com/junegunn/vim-easy-align.git
