[submodule "vim/bundle/vim-indent-object"]
	path = vim/bundle/vim-indent-object
	url = git://github.com/michaeljsmith/vim-indent-object.git
[submodule "vim/bundle/nerdtree"]
	path = vim/bundle/nerdtree
	url = git://github.com/scrooloose/nerdtree.git
[submodule "vim/bundle/textile.vim"]
	path = vim/bundle/textile.vim
	url = git://github.com/timcharper/textile.vim.git
[submodule "vim/bundle/vim-git"]
	path = vim/bundle/vim-git
	url = git://github.com/tpope/vim-git.git
[submodule "vim/bundle/vim-cucumber"]
	path = vim/bundle/vim-cucumber
	url = git://github.com/tpope/vim-cucumber.git
[submodule "vim/bundle/vim-haml"]
	path = vim/bundle/vim-haml
	url = git://github.com/tpope/vim-haml.git
[submodule "vim/bundle/vim-markdown"]
	path = vim/bundle/vim-markdown
	url = git://github.com/tpope/vim-markdown.git
[submodule "vim/bundle/vim-javascript"]
	path = vim/bundle/vim-javascript
	url = git://github.com/pangloss/vim-javascript.git
[submodule "vim/bundle/ack.vim"]
	path = vim/bundle/ack.vim
	url = git@github.com:henrik/ack.vim.git
[submodule "vim/bundle/vim-align"]
	path = vim/bundle/vim-align
	url = git://github.com/tsaleh/vim-align.git
[submodule "vim/bundle/AutoClose"]
	path = vim/bundle/AutoClose
	url = git://github.com/vim-scripts/AutoClose.git
[submodule "vim/bundle/supertab"]
	path = vim/bundle/supertab
	url = git://github.com/ervandew/supertab.git
[submodule "vim/bundle/zoomWin"]
	path = vim/bundle/zoomWin
	url = git://github.com/vim-scripts/ZoomWin.git
[submodule "vim/bundle/vim-rails"]
	path = vim/bundle/vim-rails
	url = git://github.com/tpope/vim-rails.git
[submodule "vim/bundle/vim-fugitive"]
	path = vim/bundle/vim-fugitive
	url = git://github.com/tpope/vim-fugitive.git
[submodule "vim/bundle/vim-unimpaired"]
	path = vim/bundle/vim-unimpaired
	url = git://github.com/tpope/vim-unimpaired.git
[submodule "vim/bundle/vim-rspec"]
	path = vim/bundle/vim-rspec
	url = git://github.com/taq/vim-rspec.git
[submodule "vim/bundle/vim-markdown-preview"]
	path = vim/bundle/vim-markdown-preview
	url = git@github.com:henrik/vim-markdown-preview.git
[submodule "vim/bundle/vim-surround"]
	path = vim/bundle/vim-surround
	url = git://github.com/tpope/vim-surround.git
[submodule "vim/bundle/vim-conque"]
	path = vim/bundle/vim-conque
	url = git://github.com/rson/vim-conque.git
[submodule "vim/bundle/snipmate"]
	path = vim/bundle/snipmate
	url = git@github.com:henrik/snipmate.vim.git
[submodule "vim/bundle/vim-ruby-sinatra"]
	path = vim/bundle/vim-ruby-sinatra
	url = git://github.com/hallison/vim-ruby-sinatra.git
[submodule "vim/bundle/delimitMate"]
	path = vim/bundle/delimitMate
	url = git://github.com/Raimondi/delimitMate.git
[submodule "vim/bundle/vim-indexed-search"]
	path = vim/bundle/vim-indexed-search
	url = git://github.com/henrik/vim-indexed-search.git
[submodule "vim/bundle/vim-endwise"]
	path = vim/bundle/vim-endwise
	url = git://github.com/tpope/vim-endwise.git
[submodule "oh-my-zsh"]
	path = oh-my-zsh
	url = git://github.com/ssoriche/oh-my-zsh.git
[submodule "vim/bundle/gundo"]
	path = vim/bundle/gundo
	url = http://github.com/sjl/gundo.vim.git
[submodule "vim/bundle/vim-extradite"]
	path = vim/bundle/vim-extradite
	url = https://github.com/int3/vim-extradite.git
[submodule "vim/bundle/vim-tabular"]
	path = vim/bundle/vim-tabular
	url = https://github.com/godlygeek/tabular.git
[submodule "vim/bundle/vim-perl"]
	path = vim/bundle/vim-perl
	url = https://github.com/petdance/vim-perl.git
[submodule "vim/bundle/vim-colors-solarized"]
	path = vim/bundle/vim-colors-solarized
	url = https://github.com/altercation/vim-colors-solarized
[submodule "vim/bundle/vim-jslint"]
	path = vim/bundle/vim-jslint
	url = https://github.com/csexton/jslint.vim.git
[submodule "vim/bundle/vim-easymotion"]
	path = vim/bundle/vim-easymotion
	url = https://github.com/Lokaltog/vim-easymotion.git
[submodule "vim/bundle/vim-repeat"]
	path = vim/bundle/vim-repeat
	url = https://github.com/tpope/vim-repeat.git
[submodule "vim/bundle/vim-commentary"]
	path = vim/bundle/vim-commentary
	url = https://github.com/tpope/vim-commentary.git
[submodule "vim/bundle/vim-syntastic"]
	path = vim/bundle/vim-syntastic
	url = https://github.com/scrooloose/syntastic.git
[submodule "vim/bundle/vim-mojo"]
	path = vim/bundle/vim-mojo
	url = https://github.com/yko/mojo.vim.git
[submodule "vim/bundle/vim-powerline"]
	path = vim/bundle/vim-powerline
	url = https://github.com/Lokaltog/vim-powerline.git
[submodule "vim/bundle/vim-ctrlp"]
	path = vim/bundle/vim-ctrlp
	url = https://github.com/kien/ctrlp.vim.git
[submodule "vim/bundle/vim-autotag"]
	path = vim/bundle/vim-autotag
	url = https://github.com/vim-scripts/AutoTag.git
[submodule "vim/bundle/vim-coffee-script"]
	path = vim/bundle/vim-coffee-script
	url = https://github.com/kchmck/vim-coffee-script.git
[submodule "vim/bundle/splice"]
	path = vim/bundle/splice
	url = https://github.com/sjl/splice.vim.git
[submodule "vim/bundle/vim-linediff"]
	path = vim/bundle/vim-linediff
	url = git://github.com/AndrewRadev/linediff.vim.git
