[submodule "vim/bundle/AutoClose"]
	path = vim/bundle/AutoClose
	url = git://github.com/vim-scripts/AutoClose.git
        ignore = untracked
[submodule "vim/bundle/vim-goldenview"]
	path = vim/bundle/vim-goldenview
	url = https://github.com/zhaocai/GoldenView.Vim.git
        ignore = untracked
[submodule "Themes/dracula-theme"]
	path = Themes/dracula-theme
	url = https://github.com/zenorocha/dracula-theme/
        ignore = untracked
[submodule "Themes/iterm-colors"]
	path = Themes/iterm-colors
	url = https://github.com/bahlo/iterm-colors.git
        ignore = untracked
[submodule "vim/bundle/vim-onedark"]
	path = vim/bundle/vim-onedark
	url = https://github.com/joshdick/onedark.vim
[submodule "tmux/plugins/tpm"]
	path = tmux/plugins/tpm
	url = https://github.com/tmux-plugins/tpm
